<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: base_header(~{::title}, ~{::link}, ~{::script})">
    <title th:text="${appName}"></title>
    <link rel="stylesheet" th:href="@{/css/batch/index.css}"/>
    <script th:src="@{/js/batch/index.js}"></script>
    <script>
        var MODE_CODE = {
            "UPDATE": "更新数据",
            "COMPLETE": "全量数据",
            "APPEND": "追加数据"
        };
    </script>
</head>
<body>
<th:block th:replace="base :: navbar(${appName}, 'batch')"></th:block>
<div id="app" class="container">
    <form class="form-inline" v-on:submit.prevent="search(ds, keyword)" v-on:reset.prevent="reset()">
        <div class="form-group mb-2">
            <label>搜索 ODS 任务：</label>
        </div>
        <div class="form-group mb-2">
            <label class="sr-only">数据源</label>
            <select class="form-control" v-model="ds">
                <option value=""></option>
                <option v-for="i in dataSourceArray" :value="i.name">{{ i.name }}</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label class="sr-only">关键字</label>
            <input class="form-control" placeholder="关键字" v-model="keyword">
        </div>
        <button type="submit" class="btn btn-primary mb-2">应用</button>
        <button type="reset" class="btn btn-secondary mb-2">重置</button>
    </form>
    <table class="table table-borderless table-responsive">
        <thead>
        <tr>
            <th scope="col" class="name-column">名称</th>
            <th scope="col">Source</th>
            <th scope="col">Sink</th>
            <th scope="col" class="mode-column">模式</th>
            <th scope="col" class="operation-column">操作</th>
        </tr>
        </thead>
        <tbody v-for="i in batchTaskArray">
        <tr>
            <td>
                <a :href="'/batch/editor/' + i.id">{{ i.name }}</a>
            </td>
            <td>{{ i.sourceDb }}.{{ i.sourceTable }}</td>
            <td>{{ i.sinkDb }}.{{ i.sinkTable }}</td>
            <td>{{ MODE_CODE[i.mode] }}</td>
            <td>
                <a href="#" class="btn btn-sm btn-danger" v-on:click="deleteBatchTaskById(i.id)">删除</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <a class="btn btn-light" v-on:click="gotoAddBatchTask()">新增批量任务</a>
        </tfoot>
    </table>
</div>
</body>
</html>