<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="base_header(title, links, scripts)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:replace="${title}">欢迎</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <th:block th:replace="${links}"></th:block>
    <!-- JS -->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/vue/2.5.13/vue.min.js}"></script>
    <script th:src="@{/webjars/lodash/4.17.4/lodash.min.js}"></script>
    <th:block th:replace="${scripts}"></th:block>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar(appName, moduleName)">
        <a class="navbar-brand" href="/" th:text="${appName}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:classappend="${moduleName == 'home'}? 'active'" href="/">首页 <span class="sr-only">home</span></a>
                <a class="nav-item nav-link" th:classappend="${moduleName == 'datasource'} ?'active'" href="/datasource/">数据源</a>
            </div>
        </div>
    </nav>
</body>
</html>