<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: base_header(~{::title}, ~{::link}, ~{::script})">
    <title th:text="${appName}"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<th:block th:replace="base :: navbar(${appName}, 'home')"></th:block>
<div id="app" class="container">
    <p>今日共完成 <strong>{{ measureStat.taskCount }}</strong> 项任务，总耗时约 <strong>{{ formatSeconds(measureStat.elapsedSecondSum) }}</strong></p>
    <table class="table table-borderless table-responsive">
        <thead>
            <tr>
                <th scope="col">名称</th>
                <th scope="col">提交时间</th>
                <th scope="col">完成时间</th>
                <th scope="col">耗时</th>
                <th scope="col">输入数据条数</th>
                <th scope="col">输入数据大小</th>
                <th scope="col">输出数据条数</th>
                <th scope="col">输出数据大小</th>
            </tr>
        </thead>
        <tbody v-for="i in measureDetailArray">
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ formatTime(i.submissionTime) }}</td>
                <td>{{ formatTime(i.completionTime) }}</td>
                <td>{{ formatSeconds(i.elapsedSeconds) }}</td>
                <td>{{ i.inputRows }}</td>
                <td>{{ formatBytes(i.inputData) }}</td>
                <td>{{ i.outputRows }}</td>
                <td>{{ formatBytes(i.outputData) }}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>