<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyingbleed.corgi.web.mapper.AlertMapper">

    <resultMap id="alert" type="com.dyingbleed.corgi.web.bean.Alert">
        <id property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="type" column="type"/>
        <result property="batchTaskId" column="batch_task_id"/>
        <result property="batchTaskName" column="batch_task_name"/>
        <result property="msg" column="msg"/>
    </resultMap>

    <insert id="insertAlert">
        INSERT INTO alert (
          level, type, batch_task_id, msg
        ) VALUES (
          #{alert.level},
          #{alert.type},
          #{alert.batchTaskId},
          #{alert.msg}
        )
    </insert>

    <update id="updateAlert">
        UPDATE alert
        SET level=#{alert.level}, msg=#{alert.msg}
        WHERE type=#{alert.type} AND batch_task_id=#{alert.batchTaskId}
    </update>

    <delete id="deleteAlert">
        DELETE FROM alert
        WHERE type=#{type} AND batch_task_id=#{batchTaskId}
    </delete>

    <select id="queryAlert" resultMap="alert">
        SELECT
          a.id, a.level, a.type, a.batch_task_id, b.name AS batch_task_name, a.msg
        FROM alert a
        LEFT JOIN ods_task b
        ON a.batch_task_id = b.id
        where a.type=#{type} AND a.batch_task_id=#{batchTaskId}
    </select>

    <select id="queryAllAlerts" resultMap="alert">
        SELECT
          a.id, a.level, a.type, a.batch_task_id, b.name AS batch_task_name, a.msg
        FROM alert a
        LEFT JOIN ods_task b
        ON a.batch_task_id = b.id
    </select>

</mapper>