<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: base_header(~{::title}, ~{::link}, ~{::script})">
    <title th:text="${appName}"></title>
    <link rel="stylesheet" th:href="@{/css/datasource/index.css}"/>
    <script th:src="@{/js/datasource/index.js}"></script>
</head>
<body>
<th:block th:replace="base :: navbar(${appName}, 'datasource')"></th:block>
<div id="app" class="container">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">名称</th>
                <th scope="col" width="20%">操作</th>
            </tr>
        </thead>
        <tbody v-for="i in datasource">
            <tr>
                <td>
                    <a :href="'/datasource/editor/' + i.id">{{ i.name }}</a>
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-danger" v-on:click="deleteDataSource(i.id)">删除</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <a class="btn btn-light" v-on:click="gotoAddDataSource()">新增数据源</a>
        </tfoot>
    </table>
</div>
</body>
</html>